
.bar rect {
  fill: steelblue;
  shape-rendering: crispEdges;
}

.bar text {
  fill: #fff;
}

.axis path, .axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.estimator circle {
    fill: none;
    stroke: #449;
}

.estimator polygon {
    fill: #77f;
    opacity: 0.5;
}
